# ---------------------------
# 🔹 Configuración general
# ---------------------------
PORT=7008
NODE_ENV=development
URL_HOST=localhost

# ---------------------------
# 🔹 Base de datos PostgreSQL
# ---------------------------
DB_HOST=localhost      # 👈 nombre del servicio si luego agregas postgres al compose
DB_PORT=5432
DB_USER=taurydes
DB_PASS="dt.482284"
DB_NAME=bd_gestion_medica

# ---------------------------
# 🔹 Redis
# ---------------------------
# Redis principal (colas)
REDIS_HOST=localhost  # 👈 nombre del servicio del compose
REDIS_PORT=6379

# Redis de sesiones
REDIS_SESSION_HOST=localhost
REDIS_SESSION_PORT=6379
REDIS_SESSION_PASS=

# ---------------------------
# 🔹 JWT
# ---------------------------
JWT_SECRET=secret
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=refresh_secret
# ---------------------------
# 🔹 Correo (Mailpit o SMTP)
# ---------------------------
EMAIL_HOST=mailpit     # 👈 si corres mailpit en Docker, o usa host.docker.internal para tu PC
EMAIL_PORT=1025
EMAIL_SECURE=false
EMAIL_USER=usuario
EMAIL_PASS=clave

# ---------------------------
# 🔹 Token de validación
# ---------------------------
TOKEN_VALIDATOR=1a2b3c4d5e6f7g8h9i0j1a2b3c4d5e6f7g8h9i0j1a2b3c4d5e6f7g8h9i0j1a

# ---------------------------
# 🔹 Bull Board
# ---------------------------
BULL_BOARD_PORT=9999

# ---------------------------
# 🔹 Zona horaria
# ---------------------------
TZ=America/Caracas
# ---------------------------
# 🔹 Rutas de archivos
# ---------------------------
UPLOADS_PATH=./uploads
# ---------------------------
# 🔹 Token de validación
# ---------------------------
ENCRYPT_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NDI4MjA3NTAsImV4cCI6MTc0MjkwNzE1MH0.bA1Cvy3smaTnVB062uwk2FyYGXKPOp1MtVwRxmGh0b8